---
import Layout from "@/layouts/Layout.astro";

import About from "@/components/About.astro";
import Experience from "@/components/Experience.astro";
import Hero from "@/components/Hero.astro";
import Projects from "@/components/Projects.astro";
import Skills from "@/components/Skills.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";
---

<Layout title="test">
  <main>
    <Hero />
    <About />
    <Experience />
    <Projects />
    <Skills />
    <KeyboardManager />
  </main>
</Layout>

<style>
  main {
    padding: 4rem;
    margin: auto;
    width: 100%;
  }
</style>
